

:root {
    --yellow: #f1be32;
    --golden-yellow: #feac32;
    --dark-purple: #110815;
    --light-grey: #efefef;
}

body{
    background-color: var(--dark-purple);
    color: var(--light-grey);
    text-align: center;
}

h1 {
    margin: 4rem auto 0rem auto;
}

main, h1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.change_bg {
    background-color: var(--golden-yellow);
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 1px solid var(--golden-yellow);
    padding: 5px 5px;
}
